.spot-details__details-reviews {
    margin: 0 auto 24px auto;
    max-width: 1000px;
    padding: 0 80px;
}

.spot-details {
    border-bottom: 1px solid black;
}

.spot-details h1 {
    text-align: left;
}

.spot-details__images {
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: calc(50% - 4px) calc(50% - 4px);
    height: 375px;
    margin: 24px 0;
    width: 100%;
}

#big-picture,
.picture-single {
    background-position: center;
    background-size: cover;
    position: relative;
}

#big-picture,
#picture-group,
.picture-single {
    box-sizing: border-box;
    color: #ccc;
    height: 100%;
    width: 100%;
}

#picture-group {
    display: grid;
    grid-gap: 8px;
    grid-template: repeat(2, calc(50% - 4px)) / repeat(2, calc(50% - 4px));
}

#big-picture {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#top-right {
    border-top-right-radius: 20px;
}

#bottom-right {
    border-bottom-right-radius: 20px;
}

.spot-details__details-reservation {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-bottom: 24px;
}

.spot-details__details h2 {
    margin-top: 0;
}

/* .spot-details__image {
    border-radius: 20px;
    width: 100%;
} */

.spot-details__overlay {
    bottom: 50%;
    left: 50%;
    font-size: 12px;
    position: absolute;
    transform: translate(-50%);
}

.spot-details__reservation {
    border: 1px solid rgb(221 217 221);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.spot-details__reservation button {
    background-color: #fb4969;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 14px 0;
}

.reservation__price-rating-review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.reservation__price span {
    font-size: 22px;
    font-weight: bold;
    padding-right: 5px;
}

.reservation__rating-review {
    align-items: center;
    display: flex;
}

.reservation__rating {
    align-items: center;
    display: flex;
    padding-right: 5px;
}

.reservation__rating span {
    font-weight: bold;
    padding-left: 5px;
}

.reservation__reviews {
    color: #717171;
}
