@import '../LoginFormModal/LoginForm.css';

.new-spot {
    margin: 0 auto 24px auto;
    width: 500px;
}

.new-spot .form {
    padding: 0;
}

.new-spot h1 {
    text-align: left;
}

.new-spot h2 {
    margin-bottom: 0;
    text-align: left;
}

.new-spot p {
    margin-top: 3px;
}

.new-spot textarea {
    border: 1px solid #aaa;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.new-spot button {
    width: 200px;
}

.new-spot__city-state {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: calc(60% - 9px) calc(40% - 9px);
    position: relative;
}

.new-spot__label-error {
    align-items: center;
    display: flex;
}

.new-spot__label-error .errors {
    margin: 0 5px;

}

.new-spot__input-span {
    display: flex;
}

.new-spot__input-span span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4px;
}

.new-spot__lat-lng {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    position: relative;
}

.price__span {
    align-items: center;
    display: flex;
}

.price__span span {
    padding-right: 5px;
}
