/* TODO Add site wide styles */
@font-face {
    font-family: 'Dancing Script';
    src: url("/public/fonts/Dancing_Script/static/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("/public/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
}

/*
Coastal Chic

Light blue: #ADD8E6
Sea green: #00FFFF
White: #FFFFFF
Sandy beige: #F5F5DC
Driftwood gray: #A9A9A9
*/

body,
input,
button {
    font-family: 'Open Sans';
}

h1 {
    font-family: 'Dancing Script';
}
