/* TODO Add site wide styles */
/* @font-face {
    font-family: 'Dancing Script';
    src: url("/public/fonts/Dancing_Script/static/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("/public/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
} */

@font-face {
    font-family: Circular;
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/Airbnb_Cereal-Book.woff2") format("woff2")
}

@font-face {
    font-family: Circular;
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/Airbnb_Cereal-Medium.woff2") format("woff2")
}

@font-face {
    font-family: Circular;
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/Airbnb_Cereal-Bold.woff2") format("woff2")
}

body {
    margin: 0;
    padding: 0;
    border: none;
}

body,
input,
textarea,
button {
    font-family: 'Circular';
}

/* h1 {
    font-family: 'Dancing Script';
} */
