.errors {
    color: red;
    margin-bottom: 10px;
}

.login {
    margin: 0 auto;
    width: 300px;
}

h1 {
    text-align: center;
}

form {
    background-color: #F5F5DC;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px #d0bf82;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label,
input {
  box-sizing: border-box;
  display: block;
}

input {
    border: 1px solid #ADD8E6;
    border-radius: 2px;
    height: 30px;
    width: 100%;
    margin-top: 5px;
}

button {
    background-color: #ADD8E6;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px #65a9bf;
    margin: 20px auto 10px auto;
    padding: 5px 20px;
    width: fit-content;
}

button:hover {
    background-color: #c1e7f3;
    cursor: pointer;
}
