.profile__button-container {
    display: flex;
    justify-content: flex-end;
}

.profile__button {
    cursor: pointer;
}

.profile-dropdown {
    border-radius: 10px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.12);
    box-sizing: border-box;
    list-style: none;
    margin: 5px 0;
    padding-left: 20px;
    width: 200px;
}

.profile-dropdown a {
    text-decoration: none;
}

.profile-dropdown.hidden {
    display: none;
}
